.dialogs {
    display: grid;

    grid-template-columns: 2fr 5fr;
}

.dialogsItem {
    padding: 5px;
    background-color: rgb(247, 245, 243);
}

.dialog a{
    text-decoration: none;
    color: #459eb0;
    padding-left: 10px;
}

.messages {
    padding: 5px;
}

.message {
    padding-left: 10px;
}